/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #ff6a00;
    height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

.form-control-borderless {
    margin-top: 50px;
    height: 50px;
}

.btn {
    color: #fff;
    margin-top: 50px;
    background-color: #337ab7;
    border-color: #286090;
    box-shadow: 4px 2px black;
}

